@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url(theme.css);
@import url(assets.css);

.header{
    height: 100vh;
}

.video-bg,
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.video-bg video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand{
    font-size: 1.5em;
}
.navbar{
    font-size:1.2rem;
    font-weight:400;
}
.socials{
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end;
}

a.page-scroll{
    color:white;
    text-decoration-line: none;
}

#about{
    margin-top:150px;
}
.about-text{
    font-family: 'Orbitron';
    font-size: 1.1rem;
    letter-spacing: 2pt;
    line-height: 1.5;
    font-weight: 100;
}


#back-wrapper{
    font-size:2rem;
    position:absolute;
    top: 10;
    left: 10;
    cursor: pointer;
    display: none;
}
.asset-link-container{
    cursor: pointer;
}
.asset-link-text{
    font-size: 1.7rem;
    font-weight:300;
    letter-spacing: 1.6pt;
    text-transform:uppercase;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.big{
    font-size:1.5rem;
}
i.sb{
    color:white;
}
.social-button{
    border: solid 2px #43288d;
    border-radius: 10px;
    padding:10px;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    color: #43288d;
    text-decoration-line: none;
    margin:10px;
}
.social-button:hover{
    border: solid 2px #43288d;
    background-color: #43288d;
    border-radius: 10px;
    padding:10px;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    color: white;
    text-decoration-line: none;
    margin:10px;
}
.mail-button{
    border: solid 2px #8D2828;
    border-radius: 10px;
    padding:10px;
    display: inline-block;
    font-size: 2.5rem;
    font-family: 'Source Code Pro', monospace;
    color: #8D2828;
    text-decoration-line: none;
}
.mail-button:hover{
    border: solid 2px #8D2828;
    background-color: #8D2828;
    border-radius: 10px;
    padding:10px;
    display: inline-block;
    font-size: 2.5rem;
    font-family: 'Source Code Pro', monospace;
    color: white;
    text-decoration-line: none;
}

.donate{
    position: fixed;
    bottom:0;
    right:0;
    background-color: rgb(44, 30, 173);
    color:white;
    padding:10px;
    cursor: pointer;
}
.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}