body{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.section{
    text-align: center;
    height:100vh;
}
.section-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}
.red{
    color:red;
}

.fadein{
    opacity:0;
}